.center {
    text-align: center;
}

.margin {
    margin-top: 12px;
}

.uptimeRobotLogo {
    margin: 15px;
    margin-bottom: 30px;
}

.uptimeRobotLogo img {
    max-height: 100px;
}

.uptimeRobotSetupLeft {
    width: 50%;
    float: left;
    text-align: center;
}

.uptimeRobotSetupRight {
    width: 50%;
    float: right;
    text-align: center;
}

.uptimeRobotSetupInner {
    width: 400px;
    margin: 0 auto;
}

.uptimes {
    border: 1px solid #4db53c;
    margin-bottom: 20px;
    border-radius: 6px;
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8em;
}

.uptimesEntry {
    color: black;
}

.uptimesEntry .percentage {
    float: right;
    font-weight: bold;
}

.uptimeRobotLastDaysGraph {
    width: 100%;
    height: 450px;
}

.graphLeft {
    width: 60%;
    float: left;
}

.infoboxRight {
    width: 35%;
    float: left;
}

.event, .monitorStatus {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    border-radius: 0.55em;
    vertical-align: middle;
    margin-right: 0.6em;
}

.eventOffline, .monitorStatusDown {
    background-color: #F07D7D;
}

.monitorStatusSeemsDown {
    background-color: #EFBC7C;
}

.eventOnline, .monitorStatusUp {
    background-color: #B6F07D;
}

.eventStarted {
    background-color: #7DF0F0;
}

.eventPaused, .monitorStatusPaused, .monitorStatusNotCheckedYet {
    background-color: #E0E0E0;
}

.quick-search-box {
    display: none !important;
}

#pm-list-uptime-robot-table th {
    font-weight: bold;
}
#pm-list-uptime-robot-table th:last-child {
    text-align: right;
}
#pm-list-uptime-robot-table th:first-child, #pm-list-uptime-robot-table td:first-child,
#pm-list-uptime-robot-table th.select+th, #pm-list-uptime-robot-table td.select+td {
    text-align: left;
}
#pm-list-uptime-robot-table .fa {
    font-size: 1.5em;
    vertical-align: middle;
}
#pm-list-uptime-robot-container > .list {
    overflow: visible;
}
#pm-list-uptime-robot-container th:last-child {
    width: 1%;
}
#pm-list-uptime-robot-container .dropdown-menu {
    left: initial;
    right: 0;
    display: block;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.text-muted {
    color: #777;
}
.text-primary {
    color: #337ab7;
}
.text-success {
    color: #3c763d;
}
.text-info {
    color: #31708f;
}
.text-warning {
    color: #8a6d3b;
}
.text-danger {
    color: #a94442;
}
.text-strong {
    font-weight: bold;
}

.tooltip {
    background: transparent !important;
    border: none !important;
}
.tooltip-inner {
    max-width: 300px !important;
}

.popup-menu.popup-box ul>li>span {
    display: block;
    padding: 7px 10px;
    clear: both;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
}